body{
  background:#000;
  color:#d4af37;
  font-family:Arial;
}

/* NAV */
.topbar{
  border-bottom:1px solid #222;
  padding:15px;
}

.topbar-inner{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav a{
  margin:0 10px;
  color:#d4af37;
  text-decoration:none;
}

.lang button{
  margin-left:5px;
  background:#111;
  color:#d4af37;
  border:1px solid #d4af37;
}

/* HERO */
.hero{
  text-align:center;
  padding:100px 20px;
}

.logo{
  width:200px;
  margin-bottom:30px;
}

/* TEXTO */
.hero h1{
  font-size:42px;
}

.hero p{
  max-width:600px;
  margin:auto;
}

/* BOTONES */
.btn{
  padding:15px 25px;
  margin-top:20px;
  display:inline-block;
  text-decoration:none;
}

.primary{
  background:#d4af37;
  color:#000;
}

.secondary{
  border:1px solid #d4af37;
  color:#d4af37;
}

/* SERVICIOS */
.services{
  padding:80px;
  text-align:center;
}

.services-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.card{
  border:1px solid #d4af37;
  padding:20px;
}

/* FORM */
.form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
  background:#0a0a0a;
  padding:30px;
  border-radius:10px;
  border:1px solid #d4af37;
}

input, select{
  padding:12px;
  background:#111;
  border:1px solid #d4af37;
  color:#fff;
}
