*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  color:#d4af37;
  font-family:Arial;
  overflow-x:hidden;
}

/* CONTENEDOR */
.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

/* NAV */
.topbar{
  border-bottom:1px solid #222;
  padding:15px 0;
}

.topbar-inner{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav a{
  margin:0 10px;
  color:#d4af37;
  text-decoration:none;
}

/* HERO */
.hero{
  text-align:center;
  padding:80px 20px;
}

.hero-center{
  display:flex;
  flex-direction:column;
  align-items:center;
}

/* LOGO (AHORA BIEN) */
.logo{
  width:320px;
  margin-bottom:30px;
}

/* TEXTO */
.hero h1{
  font-size:42px;
  margin-bottom:20px;
}

.hero p{
  max-width:600px;
  margin:auto;
  margin-bottom:30px;
}

/* BOTONES */
.buttons{
  display:flex;
  justify-content:center;
  gap:15px;
}

.btn{
  padding:15px 25px;
  border-radius:8px;
  text-decoration:none;
}

.primary{
  background:#d4af37;
  color:#000;
}

.secondary{
  border:1px solid #d4af37;
  color:#d4af37;
}

/* SERVICIOS */
.services{
  padding:80px 20px;
  text-align:center;
}

.services-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.card{
  border:1px solid #d4af37;
  padding:20px;
}

/* FORMULARIO */
.booking{
  padding:80px 20px;
  text-align:center;
}

.form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
  background:#0a0a0a;
  padding:30px;
  border-radius:15px;
  border:1px solid #d4af37;
}

/* GRID MARCA MODELO */
.form-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

input, select{
  padding:12px;
  background:#111;
  border:1px solid #d4af37;
  color:#fff;
  border-radius:8px;
}

/* CONTACTO */
.contact{
  padding:60px;
  text-align:center;
}
